.pokemon-container {
  display: flex;
  flex-direction: column;
  width: 27%;
}

.pokemon-image {
  width: 100%;
  height: auto;
}

.pokemon-body {
  padding: 1.5em;
}

.pokemon-body ul {
  margin: 0;
}

.pokemon-body li {
  list-style-type: none;
}
